{% extends "base.html" %}
{% block body %}

<body id="even">

  <header>
    <ul class="pageNav">
      {% include 'nav.html' %}
    </ul>
  </header>

  <main>
    <h1>Maarten van Norden - Events</h1>
    <article class="article1">

      <h2>{{_('Preludium for piano')}}</h2>
      <p>première August 28, 2018 by Frederique Lucanet at the Mozes en Aaronkerk, Amsterdam + tour
      </p>
      <h2>NOS Cultura</h2>
      <p>broadcast on Sunday July 31 2016 7.30 PM<br>
        documentary about Maarten van Norden's career as a jazzmusician<br />
        also on internet at <a href="http://www.jazzhelden.nl/action/front/portrait;jsessionid=338D138428F2F70B207A05C802EB8028?intro=&name=Maarten+van+Norden">Jazzhelden.nl</a><br />
      </p>
      <h2>DKBB plays La Fonque Revisited</h2>
      <p>the David Kweksilber Big Band plays La Fonque Revisited (première) and Maarten van Norden\'s  arrangement of Willem Breukers composition To Remain.')}}<br>
        saturday Februari 6th 2016 in the BIM-huis, Amsterdam<br>
      </p>
      <h2>Funk Variations</h2>
      <p>for the Asko|Sch&ouml;nberg Ensemble conducted by Reinbert de Leeuw<br>
        worldpremière on april 9, 2015 in the World Minimal Music Festival in the Muziekgebouw aan 't IJ</p>
        <h2>news, April 2011')}}<br />
          televisie-uitzending van "Het Oordeel"')}}</h2>

        <p>film van Pieter Fleury met muziek van Maarten van Norden</p>
        <h2>news, januari 2010:<br />
          Calefax rietkwintet en Arnold Marinissen (slagwerk) spelen</h2>
        <p>Moon and number (2010, premiere)<br>
        19 feb. Vredenburg, Utrecht<br>
        20 feb. De Doelen, Rotterdam<br>
        25 feb. Muziekgebouw aan 't IJ, Amsterdam
        </p>
    </article>

    <aside class="aside1">
      <img class="sidePic1" src="../static/img/rightside-bio_maarten_van_norden.jpg" alt="">
    </aside>

    <article class="article2">


      <h2>news, najaar 2009:<br>
        Op 2 oktober speelt Calefax rietkwintet Arohayani
        <p>In het kader van het &quot;Far East Revisited&quot; project
      </h2>Uitvoering door Calefax + het Tony Overwater Trio <br />
      2 oktober 20.15 uur in het Muziekgebouw aan 't IJ te Amsterdam</p>
      <h2>news, januari 2009:<br>
        Op 31 Jan. 2009 vindt de premiere plaats van
        Epitaaf, in memoriam Igor S.</h2>
      <p>Uitvoering door de Radio Kamer Filharmonie o.l.v. Otto Tausk <br />
        ZaterdagMatinee 31 Jan. 14.15 uur in het Concertgebouw te Amsterdam<br />
        &quot;Ik heb enkele van Stravinsky's twaalftoons-technieken, die bijna voor eeuwig waren begraven in zijn Venetiaanse graf, het daglicht weer doen zien...&quot; (M. v. N.)<br />
        Verder in het programma werken van Copland, Ives en Vleggaar</p>
      <h2>news, mei 2008:<br>
        De nieuwe CD &quot;Songs to make the Dust Dance&quot; is uit bij Attacca Records!! </h2>
      Met composities van Maarten van Norden voor verschillende bezettingen:<br />
      Combustion Chamber Orchestra, Matangi Kwartet, Koor Nieuwe Muziek, Metropole Orkest, Osiris Trio en Insomnio Ensemble.<br />
      Te bestellen bij Attacca Records maar ook door 15 euro (incl. BTW en verzendkosten) over te maken op giro 586071 t.n.v. M. van Norden, Amsterdam en een mailtje te sturen met uw volledige adres naar m@vannorden.demon.nl<br />
      U krijgt de CD dan per omgaande thuisgestuurd.</p>
      </div>
    </article>

  </main>

  <footer>
    <div class="footerItem">
      {% include 'navContact.html' %}
    </div>
  </footer>

</body>
{% endblock %}
